
.markdown ul,
.markdown ol {
    list-style: initial;
    padding: revert;
    margin: auto;
}

.markdown li {
    padding-bottom: 0.25rem;
    line-height: 1.6;
}

.markdown a {
    text-decoration: underline;
}

.markdown h2 {
    font-size: 32px;
}

.markdown h3 {
    font-size: 26px;
}

.markdown h1,
.markdown h2,
.markdown h3 {
    padding-bottom: 0.25rem;
    /*font-weight: bold;*/
    line-height: 2;
}

.markdown p {
    line-height: 1.6;
}

.markdown pre {
    background-color: #ddd;
    padding: 1rem;
}

.markdown code {
    font-size: 12px;
}

@media screen and (min-width: 768px) {
    .markdown {
        font-size: 20px;
    }
}
