
.markdown ul,
.markdown ol {
    list-style: initial;
    padding: revert;
    margin: auto;
}

.markdown li {
    padding-bottom: 0.25rem;
    line-height: 1.6;
}

.markdown a {
    text-decoration: underline;
}

.markdown p {
    line-height: 1.6;
}

.markdown h2 {
    font-size: 24px;
    line-height: 28px;
}

@media screen and (min-width: 768px) {
    .markdown {
        font-size: 20px;
    }
}
